<!DOCTYPE html>
<html style="height:100%" lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Edit Comic Page</title>


    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="./js/js.cookie.js"></script>
    <script src="./js/jumpFunction.js"></script>
    <script src="./js/editComic.js"></script>


</head>

<body>
<div id = "wrap">
    <div class="regbar">
        <div class = "regbar-left" style="width:30%">
            <img src = "./img/CoTube-logo.png" style = "margin-top:0px;" width = "125px" height = "50px" onclick="gohome()">
        </div>
        <div class = "regbar-mid" align="center">
            <input type="text" class="search_bar" name="search_word" id="search_word" size="35" placeholder="Input for searching...">
            <select class="selectType" id="search_by" name="search_by">
                <option value="keyword">By Keyword</option>
                <option value="author">By Author</option>
            </select>
            <input type="image" src = "./img/search.png" style = "margin-right:3px; width:35px; height:35px" onclick="searchResult()"/>
        </div>

        <div class = "regbar-right" style = "margin-top:7px;">
            <input type="image" src = "../img/create.png" title="Create your comic!" id="create" style = "margin-right:3px;" width = "35px" height = "35px" onclick="goCreate();">
            <input type="image" src = "../img/home.png" title="Home page" id="home" style = "margin-right:3px;" width = "35px" height = "35px" onclick="gohome();">
            <input type="image" src = "../img/message.png" title="Message page" id="message" style = "margin-right:3px;"  height = "35px" onclick="goMessage();">
            <input type="image" src = "../img/profile.png" title="Check your profile!" id="profile" style = "margin-right:3px;"  height = "35px" onclick="goProfile();">
            <input type="image" src = "../img/setting.png" title="Setting page" id="setting" style = "margin-right:3px;"  height = "35px" onclick="gotosetting();">
            <input type="image" src = "../img/sign-in.png" title="Log in" id="login" style = "margin-right:3px;" width = "35px" height = "35px" onclick="login();">
            <input type="image" src = "../img/sign-out.png" title="Sign out" id="signout" style = "margin-right:3px;" width = "35px" height = "35px" onclick="logout();">        </div>




    </div>
</div>
<script>
    var cusername = $.cookie('username');
    if(cusername=="null" || cusername==undefined){
        document.location.href="./index.html";
    }


    if($.cookie('role')=="user"){
        document.getElementById("login").style.display = "none";
        var comicPath = getComic($.cookie("comicId"));
        var target = document.location.href.replace("editComic.html","editComicDetail.html/saveComic?comicId=" + $.cookie("comicId"));
        $(window).ready(function() {
            document.getElementById("paintBoard").src = "https://sumopaint.com/flash/api.php?target=" + target + "& url=" + comicPath + "& cloud=0&service=Save%20to%20Cotube";
        });
    }else{
        document.location.href="./index.html";
        document.getElementById("create").style.display = "none";
        document.getElementById("signout").style.display = "none";
        document.getElementById("message").style.display = "none";
        document.getElementById("profile").style.display = "none";
        document.getElementById("setting").style.display = "none";
    }

</script>
<iframe style = "width:100vw;height:85vh;" frameborder="0" scrolling="no" id = "paintBoard"></iframe>


</div>

</body>

</html>
