<!DOCTYPE html>
<html style="height:100%" lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Search Result Page</title>


    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="./js/js.cookie.js"></script>


</head>

<body>
<div id = "wrap">
    <div class="regbar">
        <div class = "regbar-left" style="width:30%">
            <img src = "./img/CoTube-logo.png" style = "margin-top:0px;" width = "125px" height = "50px" >
        </div>
        <div class = "regbar-mid" align="center">
            <input type="text" class="search_bar" name="search_word" id="search_word" size="35" placeholder="Input for searching...">
            <select class="selectType" id="search_by" name="search_by">
                <option value="keyword">By Keyword</option>
                <option value="author">By Author</option>
            </select>
            <input type="image" src = "./img/search.png" style = "margin-right:3px; width:35px; height:35px" onclick="searchResult()"/>
        </div>




        <div class = "regbar-right" style = "margin-top:7px;">
            <input type="image" src = "./img/create.png" id="create" style = "margin-right:3px;" width = "35px" height = "35px" onclick="goCreate();">
            <input type="image" src = "./img/home.png" id="home" style = "margin-right:3px;" width = "35px" height = "35px" onclick="gohome();">
            <input type="image" src = "./img/message.png" id="message" style = "margin-right:3px;"  height = "35px" onclick="goMessage();">
            <input type="image" src = "./img/profile.png" id="profile" style = "margin-right:3px;"  height = "35px" onclick="goProfile();">
            <input type="image" src = "./img/setting.png" id="setting" style = "margin-right:3px;"  height = "35px" onclick="gotosetting();">
            <input type="image" src = "./img/sign-in.png" id="login" style = "margin-right:3px;" width = "35px" height = "35px" onclick="login();">
            <input type="image" src = "./img/sign-out.png" id="signout" style = "margin-right:3px;" width = "35px" height = "35px" onclick="logout();">
        </div>
    </div>
</div>

<div class="searchResult" style="margin-left: 5%; margin-right: 5%">

    <!--<h1 style="font-size:35px; text-align:left; padding-top:10px" id="showKeyword">Search Result for "all comics in the web"</h1>
    <script>
        var kw = $.cookie('search_word');
        if(kw!=""){
            document.getElementById("showKeyword").innerText = "Search Result for \"" + kw + "\":";
            document.getElementById("rst").innerText = "\"" + kw + "\"";
        }
    </script>
    <h4>Total: "number"</h4>
    <br>-->
    <div style="height: 100%; text-align:left; padding-top:10px">

        <div style="float: left;height:100%; font-size:35px;">
                <span>1-x of "totalNum" results :</span>
                <span id="rst" style="color:lightskyblue"></span>
                <script>
                    var kw = $.cookie('search_word');
                    if(kw!=""){
                        document.getElementById("rst").innerText = "\"" + kw + "\"";
                    }
                </script>
        </div>

        <div style="float:right; height:100%; font-size:20px; padding-top: 15px">
                <select class="sortBy" id="sort_by" name="sort_by">
                    <option value="viewHigh">View: High to Low</option>
                    <option value="viewLow">View: Low to High</option>
                    <option value="likeHigh">Like: High to Low</option>
                    <option value="likeLow">Like: Low to High</option>
                    <option value="commentHigh">Comment: High to Low</option>
                    <option value="commentLow">Comment: Low to High</option>
                    <option value="nameA">Name: A to Z</option>
                    <option value="nameZ">Name: Z to A</option>
                </select>
        </div>
    </div>
    <br><br><hr style="margin-top: 40px">
    <div class="searchResultTable">
        <div>
        <table class="searchResultTable" id="search_result_table" style="font-size: 16px">
            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>

            <tr>
                <td><img src="./img/t/1.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName1</p>
                    <p>AuthorName1</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/2.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName2</p>
                    <p>AuthorName2</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
                <td><img src="./img/t/3.jpg"></td>
                <td style="padding-right: 20px; padding-bottom: 40px">
                    <p>ImgName3</p>
                    <p>AuthorName3</p>
                    <p>View:xxx Like:xxx Comment:xxx</p>
                </td>
            </tr>
        </table>
        </div>

        <div class="pageTurn" style="text-align: center; font-size: 15px">
            <hr style="margin-bottom: 0px">
            <ul class="pagination">
                <li>&laquo;</li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>&raquo;</li>
            </ul>
            <hr style="margin-top: 0px">

        </div>


    </div>






</div>




<script>
    if($.cookie('role')=="user"){
        document.getElementById("login").style.display = "none";
    }else{
        document.getElementById("create").style.display = "none";
        document.getElementById("signout").style.display = "none";
        document.getElementById("message").style.display = "none";
        document.getElementById("profile").style.display = "none";
        document.getElementById("setting").style.display = "none";
    }
    function gohome(){
        document.location.href="./index.html";
    }

    function goCreate(){
        document.location.href="./createHome.html";
    }

    function goMessage() {
        document.location.href="./message.html";
    }

    function gotosetting(){
        document.location.href="./setting.html";
    }

    function goProfile(){
        document.location.href="./profile.html";
    }

    function login(){
        document.location.href="./login.html";
    }

    function logout(){
        $.cookie('username', null);
        $.cookie('role',"guest");
        document.location.href="./index.html";
    }

    function searchResult() {
        var word = document.getElementById("search_word").value;
        $.cookie('search_word',word);

        var by = document.getElementById("search_by").value;
        $.cookie('search_by',by);
        if(word!="")
            document.location.href="./searchResult.html";
    }


</script>
</body>

</html>
