<!DOCTYPE html>
<html style="height:100%" lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Search Result Page</title>

    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="../js/js.cookie.js"></script>
    <script src="../js/jumpFunction.js"></script>
    <script src="../js/comicSort.js"></script>


</head>

<body>
<div id = "wrap">
    <div class="regbar">
        <div class = "regbar-left" style="width:30%">
            <img src = "./img/CoTube-logo.png" style = "margin-top:0px;" width = "125px" height = "50px" onclick="gohome()">
        </div>
        <div class = "regbar-mid" align="center">
            <input type="text" class="search_bar" name="search_word" id="search_word" size="35" placeholder="Input for searching...">
            <select class="selectType" id="search_by" name="search_by">
                <option value="keyword">By Keyword</option>
                <option value="author">By Author</option>
            </select>
            <input type="image" src = "./img/search.png" style = "margin-right:3px; width:35px; height:35px" onclick="searchResult()"/>
        </div>




        <div class = "regbar-right" style = "margin-top:7px;">
            <input type="image" src = "../img/create.png" title="Create your comic!" id="create" style = "margin-right:3px;" width = "35px" height = "35px" onclick="goCreate();">
            <input type="image" src = "../img/home.png" title="Home page" id="home" style = "margin-right:3px;" width = "35px" height = "35px" onclick="gohome();">
            <input type="image" src = "../img/message.png" title="Message page" id="message" style = "margin-right:3px;"  height = "35px" onclick="goMessage();">
            <input type="image" src = "../img/profile.png" title="Check your profile!" id="profile" style = "margin-right:3px;"  height = "35px" onclick="goProfile();">
            <input type="image" src = "../img/setting.png" title="Setting page" id="setting" style = "margin-right:3px;"  height = "35px" onclick="gotosetting();">
            <input type="image" src = "../img/sign-in.png" title="Log in" id="login" style = "margin-right:3px;" width = "35px" height = "35px" onclick="login();">
            <input type="image" src = "../img/sign-out.png" title="Sign out" id="signout" style = "margin-right:3px;" width = "35px" height = "35px" onclick="logout();">  
        </div>
    </div>
</div>

<div class="searchResult" style="margin-left: 5%; margin-right: 5%">

    <div style="height: 100%; text-align:left; padding-top:10px">

        <div style="float: left;height:100%; font-size:35px;">
            <span>Results of </span>
            <span id="rst" style="color:lightskyblue"></span>
            <span>:</span>
        </div>

        <div id="keywordsortby" style="display:none; float:right; height:100%; font-size:20px; padding-top: 15px">
                <select class="sortBy" id="sort_by" name="sort_by" onchange = "comicPage(1);">
                    <option value="view">Views</option>
                    <option value="like">Likes</option>
                    <option value="nameA">Name: A to Z</option>
                </select>
        </div>

        <div id="series_regular" style="display:none; float:right; height:100%; font-size:20px; padding-top: 15px">
            <select class="sortBy" id="series_regular_view" name="sort_by" style="margin-right: 20px;" onchange ="showtable()">
                <option value="regular" id="selectregular">View Regular Comic</option>
                <option value="series" id = "selectseries">View Series Comic</option>
                <option value="game" id = "selectgames">View Game Comic</option>
            </select>
        </div>

    </div>
    <br><br><hr style="margin-top: 40px">

    <div id="authorresult" class="searchResultTable" style="display: none;">
        <div>
            <table class="searchResultTable" id="author_result_table" style="font-size: 23px; width: 100%;">
            </table>
            <div style="float: left;height:100%; font-size:30px; display: none;" id="authorEmpty">
                <span>No Result Found...</span>
            </div>
        </div>

        <div class="pageTurn" style="text-align: center; font-size: 15px" id="divauthorpage">
            <hr style="margin-bottom: 0px">
            <ul class="pagination" id="authorpageturn">
            </ul>
            <hr style="margin-top: 0px">

        </div>
    </div>


    <div id="keywordresult" class="searchResultTable" style="display: none;">
        <div>
        <table class="searchResultTable" id="search_result_table" style="font-size: 16px">
        </table>
        </div>

        <div class="pageTurn" style="text-align: center; font-size: 15px" id="divsearchpage">
            <hr style="margin-bottom: 0px">
            <ul class="pagination" id="searchpageturn">
            </ul>
            <hr style="margin-top: 0px">
        </div>


    </div>

</div>




<script>
    showtable();
    if($.cookie('role')=="user"){
        document.getElementById("login").style.display = "none";
    }else if($.cookie('role')=="admin"){
        document.getElementById("login").style.display = "none";
        document.getElementById("create").style.display = "none";
        document.getElementById("profile").style.display = "none";
        document.getElementById("home").onclick = function() { admingohome(); }
    }else{
        document.getElementById("create").style.display = "none";
        document.getElementById("signout").style.display = "none";
        document.getElementById("message").style.display = "none";
        document.getElementById("profile").style.display = "none";
        document.getElementById("setting").style.display = "none";
    }
</script>
</body>

</html>
