<!DOCTYPE html>
<html style="height:100%" lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>CoTube Setting Page</title>


    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="./js/js.cookie.js"></script>
    <script src="./js/setting.js"></script>
    <script src="./js/jumpFunction.js"></script>


</head>

<body>
    <div id = "wrap">
        <div class="regbar">
            <div class = "regbar-left" style="width:30%">
                    <img src = "./img/CoTube-logo.png" style = "margin-top:0px;" width = "125px" height = "50px" onclick="gohome()">
            </div>
            <div class = "regbar-mid" align="center">
                <input type="text" class="search_bar" name="search_word" id="search_word" size="35" placeholder="Input for searching...">
                <select class="selectType" id="search_by" name="search_by">
                    <option value="keyword">By Keyword</option>
                    <option value="author">By Author</option>
                </select>
                <input type="image" src = "./img/search.png" style = "margin-right:3px; width:35px; height:35px" onclick="searchResult()"/>
            </div>

            <div class = "regbar-right" style = "margin-top:7px;">
                <input type="image" src = "../img/create.png" title="Create your comic!" id="create" style = "margin-right:3px;" width = "35px" height = "35px" onclick="goCreate();">
                <input type="image" src = "../img/home.png" title="Home page" id="home" style = "margin-right:3px;" width = "35px" height = "35px" onclick="gohome();">
                <input type="image" src = "../img/message.png" title="Message page" id="message" style = "margin-right:3px;"  height = "35px" onclick="goMessage();">
                <input type="image" src = "../img/profile.png" title="Check your profile!" id="profile" style = "margin-right:3px;"  height = "35px" onclick="goProfile();">
                <input type="image" src = "../img/setting.png" title="Setting page" id="setting" style = "margin-right:3px;"  height = "35px" onclick="gotosetting();">
                <input type="image" src = "../img/sign-in.png" title="Log in" id="login" style = "margin-right:3px;" width = "35px" height = "35px" onclick="login();">
                <input type="image" src = "../img/sign-out.png" title="Sign out" id="signout" style = "margin-right:3px;" width = "35px" height = "35px" onclick="logout();">
            </div>




        </div>
    </div>

    <div>
        <h1 style = "margin-top:10px;">Change profile picture</h1>
        <table>
            <tr>
                <td>
                    <img id = "oldpp" src = "" style = "margin-left:25px;margin-right:25px;" width = "200px" height = "200px">
                </td>
                <td>
                    <img id = "newpp" src = "../img/empty.png" style = "margin-left:25px;margin-right:25px;" width = "200px" height = "200px">
                    <script>loadProfilePicture();</script>
                </td>
            </tr>
            <tr>
                <td align = "center">
                    <h4>Current</h4>
                </td>
                <td align = "center">
                    <h4>New</h4>
                </td>
            </tr>
            <tr>
                <td align = "center">
                    <button type="button" class = "submitButton" onclick="document.getElementById('file-input').click();">Upload new</button>
                    <input id="file-input" type="file" name="name" oninput="changeNewPP()" style="display: none;" />
                </td>
                <td align = "center">
                    <button type="button" class = "submitButton" onclick = "changeProfile()">Submit</button>
                </td>
            </tr>
            <tr>
                <td align = "center">
                    <p>You can upload PNG file</p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <h1 style="margin-top:0px;margin-bottom:10px;">Change Password</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 style="margin-top:0px;margin-bottom:10px;">Original password</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" style="margin-left:20px;color:black;margin-right:0px;height:32px;width:250px;" id="original_password" name="original_password">
                    <h4 id="error" style="color:red;display:none;margin-left:20px;font-weight: 300;">Invalid password. Please try again.</h4>
                    <h4 id="successResetPassword" style="color:white;display:none;margin-left:20px;font-weight: 300;">Reset Successful!</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 style="margin-top:10px;margin-bottom:10px;">New password</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" style="margin-left:20px;color:black;margin-right:0px;height:32px;width:250px;" id="new_password" name="new_password">
                    
                </td>
            </tr>
            <tr>
                <td>
                    <h3 style="margin-top:10px;margin-bottom:10px;">Confirm new password</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" style="margin-left:20px;color:black;margin-right:0px;height:32px;width:250px;" id="cfm_new_password" name="cfm_new_password">
                    <h4 id="error1" style="color:red;display:none;margin-left:20px;font-weight: 300;">Password mismatch. Please try again.</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" style="margin-left:20px;margin-top:20px;" class = "submitButton" onclick="resetPassword();">Change</button>
                </td>
            </tr>
        </table>
        <table>
                <tr>
                    <td>
                        <h1 style="margin-top:0px;margin-bottom:10px;">Change Security Question</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 style="margin-top:0px;margin-bottom:10px;">Original question</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="security_question" style="margin-left:20px;width:400px;height:32px;color:black;" id="security_question" class="custom-select">
                            <option value="1">What was your childhood nickname?</option>
                            <option value="2">In what city did you meet your spouse/significant other?</option>
                            <option value="3">What is the name of your favorite childhood friend?</option>
                            <option value="4">What street did you live on in third grade?</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 style="margin-top:10px;margin-bottom:10px;">Original Answer</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" style="margin-left:20px;color:black;margin-right:0px;height:32px;width:400px;" id="original_answer" name="original_answer">
                        <h4 id="error_answer" style="color:red;display:none;margin-left:20px;font-weight: 300;">Invalid answer. Please try again.</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 style="margin-top:0px;margin-bottom:10px;">New question</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="new_security_question" style="margin-left:20px;width:400px;height:32px;color:black;" id="new_security_question" class="custom-select">
                            <option value="1">What was your childhood nickname?</option>
                            <option value="2">In what city did you meet your spouse/significant other?</option>
                            <option value="3">What is the name of your favorite childhood friend?</option>
                            <option value="4">What street did you live on in third grade?</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 style="margin-top:10px;margin-bottom:10px;">New Answer</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" style="margin-left:20px;color:black;margin-right:0px;height:32px;width:400px;" id="new_answer" name="new_answer">
                        <h4 id="successResetQuestion" style="color:white;display:none;margin-left:20px;font-weight: 300;">Reset Successful!</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" style="margin-left:20px;margin-top:20px;margin-bottom:50px;" class = "submitButton" onclick="resetSecurityQuestion();">Change</button>
                    </td>
                </tr>
            </table>
    </div>
    <script>
        if($.cookie('role')=="user"){
            document.getElementById("login").style.display = "none";
        }else if($.cookie('role')=="admin"){
            document.getElementById("login").style.display = "none";
            document.getElementById("create").style.display = "none";
            document.getElementById("profile").style.display = "none";
            document.getElementById("home").onclick = function() { admingohome(); }
        }else{
            document.getElementById("create").style.display = "none";
            document.getElementById("signout").style.display = "none";
            document.getElementById("message").style.display = "none";
            document.getElementById("profile").style.display = "none";
            document.getElementById("setting").style.display = "none";
        }
 
    </script>
</body>

</html>
