<!DOCTYPE html>
<html style="height:100%" lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>View Game Comic</title>


    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="./js/js.cookie.js"></script>
    <script src="./js/jumpFunction.js"></script>
    <script src = "./js/viewGameComics.js"></script>


</head>

<body>
    <div id = "wrap">
        <div class="regbar">
            <div class = "regbar-left" style="width:30%">
                    <img src = "./img/CoTube-logo.png" style = "margin-top:0px;" width = "125px" height = "50px" onclick="gohome()">
            </div>
            <div class = "regbar-mid" align="center">
                <input type="text" class="search_bar" name="search_word" id="search_word" size="35" placeholder="Input for searching...">
                <select class="selectType" id="search_by" name="search_by">
                    <option value="keyword">By Keyword</option>
                    <option value="author">By Author</option>
                </select>
                <input type="image" src = "./img/search.png" style = "margin-right:3px; width:35px; height:35px" onclick="searchResult()"/>
            </div>

            <div class = "regbar-right" style = "margin-top:7px;">
                <input type="image" src = "../img/create.png" title="Create your comic!" id="create" style = "margin-right:3px;" width = "35px" height = "35px" onclick="goCreate();">
                <input type="image" src = "../img/home.png" title="Home page" id="home" style = "margin-right:3px;" width = "35px" height = "35px" onclick="gohome();">
                <input type="image" src = "../img/message.png" title="Message page" id="message" style = "margin-right:3px;"  height = "35px" onclick="goMessage();">
                <input type="image" src = "../img/profile.png" title="Check your profile!" id="profile" style = "margin-right:3px;"  height = "35px" onclick="goProfile();">
                <input type="image" src = "../img/setting.png" title="Setting page" id="setting" style = "margin-right:3px;"  height = "35px" onclick="gotosetting();">
                <input type="image" src = "../img/sign-in.png" title="Log in" id="login" style = "margin-right:3px;" width = "35px" height = "35px" onclick="login();">
                <input type="image" src = "../img/sign-out.png" title="Sign out" id="signout" style = "margin-right:3px;" width = "35px" height = "35px" onclick="logout();">
            </div>
        </div>
    </div>

    <div>
        <br>
        <table align="center" style="text-align: center;">
            <tr>
                <td colspan="4">
                    <h1 id="comictitle" style="cursor:default;">Comic Title</h1>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <span style="font-size:20px;color:gray;" id="comicviewnum"></span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <span style="font-size:20px;">Contributors</span>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="profile.html" id="comicauthor1"></a>
                </td>
                <td>
                    <img src = "" style = "display:inline;margin-right:10px;" width = "45px" height = "45px" id="authorimg1">
                </td>
                <td>
                    <a href="profile.html" id="comicauthor2"></a>
                </td>
                <td>
                    <img src = "" style = "display:inline;margin-left:10px;" width = "45px" height = "45px" id="authorimg2">
                </td>
            </tr>
            <tr>
                <td>
                    <a href="profile.html" id="comicauthor3"></a>
                </td>
                <td>
                    <img src = "" style = "margin-right:10px;margin-top:5px;" width = "45px" height = "45px" id="authorimg3">
                </td>
                <td>
                    <a href="profile.html" id="comicauthor4"></a>
                </td>
                <td>
                    <img src = "" style = "margin-left:10px;margin-top:5px;" width = "45px" height = "45px" id="authorimg4">
                </td>
            </tr>
        </table>
        <table align="center" width = "65%">
            <tr>
                <td>
                    <img src = "" style="width:32.5vw;" id = "img1">
                </td>
                <td>
                    <img src = "" style="width:32.5vw;" id = "img2">
                </td>
            </tr>
            <tr>
                <td>
                    <img src = "" style="width:32.5vw;" id = "img3">
                </td>
                <td>
                    <img src = "" style="width:32.5vw;" id = "img4">
                </td>
            </tr>
        </table>
        <table align="center" id = "likefavtb">
            <tr>
                <td align="center" style="width:150px;">
                    <input type="image" src = "./img/like-gray.png" width = "40px" id="likebtn" onclick="toggleLike();">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <span id="likenumber"></span>
                </td>
            </tr>
        </table>
    </div>
    <table align="center" width = "65%">
        <tr>
            <td>
                <h2 style="margin-left:0px;" id = "commentHeader">Comments(23)</h2>
            </td>
        </tr>
        <tr id = "comments">
            <td>
                <textarea maxlength = "300" rows="4" cols="88" style="color:black;width:50vw" placeholder="Enter your comment:" id="commentText"></textarea>
            </td>
            <td>
                <button type="button" class="submitButton" style="height:85px;margin-left:0px;margin-top:0px;" onclick = "postComment();">Post</button>
            </td>
        </tr>   
    </table>
    <table width = "65%" align="center" id = "commenttb"></table>
    <table align="center" id = "numPage"></table>
    <script>
        checkExist();

        if($.cookie('role')=="user"){
            document.getElementById("login").style.display = "none";
        }else if($.cookie('role')=="admin"){
            document.getElementById("login").style.display = "none";
            document.getElementById("create").style.display = "none";
            document.getElementById("profile").style.display = "none";
            document.getElementById("likefavtb").style.display = "none";
            document.getElementById("comments").style.display = "none";
            document.getElementById("home").onclick = function() { admingohome(); }
        }else{
            document.getElementById("create").style.display = "none";
            document.getElementById("signout").style.display = "none";
            document.getElementById("message").style.display = "none";
            document.getElementById("profile").style.display = "none";
            document.getElementById("setting").style.display = "none";
            document.getElementById("likefavtb").style.display = "none";
            document.getElementById("comments").style.display = "none";
        }

        var info = comicInfo();
        document.getElementById("comictitle").innerHTML = info.title;
        document.getElementById("likenumber").innerHTML = info.likes;
        document.getElementById("comicauthor1").innerHTML = info.author1;
        document.getElementById("comicauthor1").onclick = function() {
            authorprofile(info.author1);
        }
        document.getElementById("comicauthor2").innerHTML = info.author2;
        document.getElementById("comicauthor2").onclick = function() {
            authorprofile(info.author2);
        }
        document.getElementById("comicauthor3").innerHTML = info.author3;
        document.getElementById("comicauthor3").onclick = function() {
            authorprofile(info.author3);
        }
        document.getElementById("comicauthor4").innerHTML = info.author4;
        document.getElementById("comicauthor4").onclick = function() {
            authorprofile(info.author4);
        }
        document.getElementById("authorimg1").src = info.authorPath1;
        document.getElementById("authorimg1").onclick = function() {
            authorprofile(info.author1);
        }
        document.getElementById("authorimg2").src = info.authorPath2;
        document.getElementById("authorimg2").onclick = function() {
            authorprofile(info.author2);
        }
        document.getElementById("authorimg3").src = info.authorPath3;
        document.getElementById("authorimg3").onclick = function() {
            authorprofile(info.author3);
        }
        document.getElementById("authorimg4").src = info.authorPath4;
        document.getElementById("authorimg4").onclick = function() {
            authorprofile(info.author4);
        }
        viewComic($.cookie("username"),$.cookie("comicId"));
        document.getElementById("comicviewnum").innerHTML = "Views:"+info.views;
        document.getElementById("img1").src = info.path1;
        document.getElementById("img2").src = info.path2;
        document.getElementById("img3").src = info.path3;
        document.getElementById("img4").src = info.path4;

        if(info.ifLiked){
            document.getElementById("likebtn").src = "./img/like-red.png";
        }else{
            document.getElementById("likebtn").src = "./img/like-gray.png";
        }
        $(window).ready(function() {
            var tb = document.getElementById("commenttb");
            var comments = getComment($.cookie("comicId"),1);
            document.getElementById("commentHeader").innerText = "Comment("+comments.commentCount+")";
            for(let i = 0; i < comments.commentNumber.length; i++){
                var tr1 = document.createElement('tr');
                tb.appendChild(tr1);
                var td = document.createElement('td');
                tr1.appendChild(td);
                var span = document.createElement('span');
                var t = document.createTextNode(comments.commentContent[i]);
                span.appendChild(t);
                td.appendChild(span);
                span.style.marginLeft = "0px";
                span.style.cursor = "default";
                

                var tr2 = document.createElement('tr');
                tb.appendChild(tr2);
                var td2 = document.createElement('td');
                tr2.appendChild(td2);
                var span2 = document.createElement('span');
                var t2 = document.createTextNode("#"+comments.commentNumber[i]);
                span2.appendChild(t2);
                td2.appendChild(span2);
                span2.style.marginLeft = "0px";
                span2.style.cursor = "default";

                var a = document.createElement('a');
                a.style.cssFloat = "right";
                a.onclick = function() {
                    authorprofile(comments.commenter[i]);
                }
                a.style.cursor = "pointer";
                var t3 = document.createTextNode(comments.commenter[i]);
                a.appendChild(t3);
                td2.appendChild(a);

                var span3 = document.createElement('span');
                var t4 = document.createTextNode("by");
                span3.appendChild(t4);
                span3.style.cssFloat = "right";
                span3.style.marginRight = "0.5em";
                span3.style.cursor = "default";
                td2.appendChild(span3);

                var span4 = document.createElement('span');
                var t5 = document.createTextNode(comments.commentTime[i]);
                span4.appendChild(t5);
                span4.style.cssFloat = "right";
                span4.style.marginRight = "0.5em";
                span4.style.cursor = "default";
                td2.appendChild(span4);

                if($.cookie("username")==comments.commenter[i] || $.cookie("role")=="admin"){
                    var input = document.createElement('input');
                    td2.appendChild(input);
                    input.type = "image";
                    input.src = "./img/delete.png";
                    input.style.marginRight = "5px";
                    input.style.cssFloat = "right";
                    input.style.width = "20px";
                    input.style.height = "20px";
                    input.addEventListener('click', function() {
                        deleteComment($.cookie("comicId"),comments.commentNumber[i]);
                    });
                }
                var hr = document.createElement('hr');
                hr.className = "style-six";
                td2.appendChild(hr);
                

            }
     
            var tb2 = document.getElementById("numPage");
            for(let i=1;i<=comments.commentPage; i++){
                var td = document.createElement('td');
                tb2.appendChild(td);
                var span = document.createElement('span');
                var t = document.createTextNode(i);
                span.appendChild(t);
                span.style.marginRight = "10px";
                span.style.cursor = "pointer";
                span.id = "span"+i;
                if(i==1){
                    span.style.color = "dodgerblue";
                }
                span.addEventListener('click', function() {
                    commentPage($.cookie("comicId"),i,comments.commentPage);
                });
                td.appendChild(span);
                

            }
        });
    </script>
</body>

</html>
