<!DOCTYPE html>
<html style="height:100%" lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>CoTube View Comics By Title Page</title>


    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../js/js.cookie.js"></script>
    <script src="../js/jumpFunction.js"></script>
    <script src="../js/comicsByTitle.js"></script>

</head>

<body>
<div id = "wrap">
    <div class="regbar">
        <div class = "regbar-left" style="width:30%">
            <img src = "./img/CoTube-logo.png" style = "margin-top:0px;" width = "125px" height = "50px" onclick="gohome()">
        </div>
        <div class = "regbar-mid" align="center">
            <input type="text" class="search_bar" name="search_word" id="search_word" size="35" placeholder="Input for searching...">
            <select class="selectType" id="search_by" name="search_by">
                <option value="keyword">By Keyword</option>
                <option value="author">By Author</option>
            </select>
            <input type="image" src = "./img/search.png" style = "margin-right:3px; width:35px; height:35px" onclick="searchResult()"/>
        </div>
        <div class = "regbar-right" style = "margin-top:7px;">
            <input type="image" src = "../img/create.png" title="Create your comic!" id="create" style = "margin-right:3px;" width = "35px" height = "35px" onclick="goCreate();">
            <input type="image" src = "../img/home.png" title="Home page" id="home" style = "margin-right:3px;" width = "35px" height = "35px" onclick="gohome();">
            <input type="image" src = "../img/message.png" title="Message page" id="message" style = "margin-right:3px;"  height = "35px" onclick="goMessage();">
            <input type="image" src = "../img/profile.png" title="Check your profile!" id="profile" style = "margin-right:3px;"  height = "35px" onclick="goProfile();">
            <input type="image" src = "../img/setting.png" title="Setting page" id="setting" style = "margin-right:3px;"  height = "35px" onclick="gotosetting();">
            <input type="image" src = "../img/sign-in.png" title="Log in" id="login" style = "margin-right:3px;" width = "35px" height = "35px" onclick="login();">
            <input type="image" src = "../img/sign-out.png" title="Sign out" id="signout" style = "margin-right:3px;" width = "35px" height = "35px" onclick="logout();">
        </div>

    </div>
</div>

<div>
    <h1 style="font-size:35px; text-align:center; padding-top:10px; cursor:default">View Comics By Title</h1>
    <div style="clear: both;">
        <a name="jump" class="alpabet" style="font-size:33px; padding-top:50px; margin-left:5%; cursor:default">Click to Jump:</a>
        <br>
        <a href="#aj" class="alpabet" style="margin-left: 5%;">A</a>
        <a href="#bj" class="alpabet">B</a>
        <a href="#cj" class="alpabet">C</a>
        <a href="#dj" class="alpabet">D</a>
        <a href="#ej" class="alpabet">E</a>
        <a href="#fj" class="alpabet">F</a>
        <a href="#gj" class="alpabet">G</a>
        <a href="#hj" class="alpabet">H</a>
        <a href="#ij" class="alpabet">I</a>
        <a href="#jj" class="alpabet">J</a>
        <a href="#kj" class="alpabet">K</a>
        <a href="#lj" class="alpabet">L</a>
        <a href="#mj" class="alpabet">M</a>
        <a href="#nj" class="alpabet">N</a>
        <a href="#oj" class="alpabet">O</a>
        <a href="#pj" class="alpabet">P</a>
        <a href="#qj" class="alpabet">Q</a>
        <a href="#rj" class="alpabet">R</a>
        <a href="#sj" class="alpabet">S</a>
        <a href="#tj" class="alpabet">T</a>
        <a href="#uj" class="alpabet">U</a>
        <a href="#vj" class="alpabet">V</a>
        <a href="#wj" class="alpabet">W</a>
        <a href="#xj" class="alpabet">X</a>
        <a href="#yj" class="alpabet">Y</a>
        <a href="#zj" class="alpabet">Z</a>
        <a href="#otherj" class="alpabet">#</a>

    </div>

    <a name="aj" style="padding-top:50px;cursor:default" class="alpabetDir">A:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="margin-right:45px" id = "a">

        </tbody>
    </table>
    <a href="#jump" class="viewjump">Back To Top</a>
    <br>
    <a name="bj" style="padding-top:50px;cursor:default" class="alpabetDir">B:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "b">

        </tbody>
    </table>
    <br>
    <a name="cj" style="padding-top:50px;cursor:default" class="alpabetDir">C:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "c">

        </tbody>
    </table>
    <br>
    <a name="dj" style="padding-top:50px;cursor:default" class="alpabetDir">D:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "d">

        </tbody>
    </table>
    <br>
    <a name="ej" style="padding-top:50px;cursor:default" class="alpabetDir">E:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "e">

        </tbody>
    </table>
    <br>
    <a name="fj" style="padding-top:50px;cursor:default" class="alpabetDir">F:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%"id = "f">

        </tbody>
    </table>
    <br>
    <a name="gj" style="padding-top:50px;cursor:default" class="alpabetDir">G:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "g">

        </tbody>
    </table>
    <br>
    <a name="hj" style="padding-top:50px;cursor:default" class="alpabetDir">H:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "h">

        </tbody>
    </table>
    <br>
    <a name="ij" style="padding-top:50px;cursor:default" class="alpabetDir">I:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "i">

        </tbody>
    </table>
    <br>
    <a name="jj" style="padding-top:50px;cursor:default" class="alpabetDir">J:</a>
    <table style="width:100%" class="alpabetTab" id = "j">
        <tbody style="width:100%">

        </tbody>
    </table>
    <br>
    <a name="kj" style="padding-top:50px;cursor:default" class="alpabetDir">K:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "k">

        </tbody>
    </table>
    <br>
    <a name="lj" style="padding-top:50px;cursor:default" class="alpabetDir">L:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "l">

        </tbody>
    </table>
    <br>
    <a name="mj" style="padding-top:50px;cursor:default" class="alpabetDir">M:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "m">

        </tbody>
    </table>
    <br>
    <a name="nj" style="padding-top:50px;cursor:default" class="alpabetDir">N:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "n">

        </tbody>
    </table>
    <br>
    <a name="oj" style="padding-top:50px;cursor:default" class="alpabetDir">O:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "o">

        </tbody>
    </table>
    <br>
    <a name="pj" style="padding-top:50px;cursor:default" class="alpabetDir">P:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "p">

        </tbody>
    </table>
    <br>
    <a name="qj" style="padding-top:50px;cursor:default" class="alpabetDir">Q:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "q">

        </tbody>
    </table>
    <br>
    <a name="rj" style="padding-top:50px;cursor:default" class="alpabetDir">R:</a>
    <table style="width:100%" class="alpabetTab" id = "r">
        <tbody style="width:100%">

        </tbody>
    </table>
    <br>
    <a name="sj" style="padding-top:50px;cursor:default" class="alpabetDir">S:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "s">

        </tbody>
    </table>
    <br>
    <a name="tj" style="padding-top:50px;cursor:default" class="alpabetDir">T:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "t">

        </tbody>
    </table>
    <br>
    <a name="uj" style="padding-top:50px;cursor:default" class="alpabetDir">U:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "u">

        </tbody>
    </table>
    <br>
    <a name="vj" style="padding-top:50px;cursor:default" class="alpabetDir">V:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "v">

        </tbody>
    </table>
    <br>
    <a name="wj" style="padding-top:50px;cursor:default" class="alpabetDir">W:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "w">

        </tbody>
    </table>
    <br>
    <a name="xj" style="padding-top:50px;cursor:default" class="alpabetDir">X:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "x">

        </tbody>
    </table>
    <br>
    <a name="yj" style="padding-top:50px;cursor:default" class="alpabetDir">Y:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "y">

        </tbody>
    </table>
    <br>
    <a name="zj" style="padding-top:50px;cursor:default" class="alpabetDir">Z:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "z">

        </tbody>
    </table>
    <br>
    <a name="otherj" style="padding-top:50px;cursor:default" class="alpabetDir">#:</a>
    <table style="width:100%" class="alpabetTab">
        <tbody style="width:100%" id = "#">

        </tbody>
    </table>
    <br>

</div>


<script>
    if($.cookie('role')=="user"){
        document.getElementById("login").style.display = "none";
    }else if($.cookie('role')=="admin"){
        document.getElementById("login").style.display = "none";
        document.getElementById("create").style.display = "none";
        document.getElementById("profile").style.display = "none";
        document.getElementById("home").onclick = function() { admingohome(); }
    }else{
        document.getElementById("create").style.display = "none";
        document.getElementById("signout").style.display = "none";
        document.getElementById("message").style.display = "none";
        document.getElementById("profile").style.display = "none";
        document.getElementById("setting").style.display = "none";
    }
    getAllComicsByTitle();
 
</script>
</body>

</html>